*~
*.o
*build*/
./models/
__pycache__/
.vscode
.idea
./translation
.cache
*.npy
*.pth
!tests/data/**/*.npy
/models
/notebooks
**/.ipynb_checkpoints/

/3rdparty/NeMo/
/3rdparty/apex/
20B_checkpoints/
compile_commands.json
model/
